a {
    text-decoration: none;
    color: white;
  }
label {
    display: block;
  }
  input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 15px;
    transition: border-color 0.15s, box-shadow 0.15s;
  }
  input:focus {
    border-color: #7db0fb;
    outline: 0;
    box-shadow: 0 0 0 4px rgba(24, 117, 255, 0.25);
  }
  .form-group {
    margin-bottom: 1rem;
    color: white;
  }
  

  